@font-face
{
	font-family: "Champagne Limousines Bold" ;
	src: url(../fonts/champagne_limousines/Champagne_Limousines_Bold.ttf) format("truetype");
}

html, body
{
	height: 100% !important;
}

body
{
	background-color: #f5f5f5 !important;
}

nav
{
	background-color: #ad1457 !important;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
	color: white;
	width: 100%;
	z-index: 10;
}

#filterButtonContainer, nav
{
	position: fixed !important;
}

#filterButtonContainer
{
	width: 100%;
	z-index: 10;
}

#filterButton
{
	position: absolute; /* postulat de départ */
	top: 50%; left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
	background-color: #f8bbd0;
	border: 1px solid #f8bbd0;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
	transition: all .16s ease-in-out;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
	cursor: pointer;
	border-radius: 2px;

}

#filterButton:hover
{
	background-color: #f48fb1;
	border: 1px solid #f48fb1;
	transition: all .16s ease-in-out;
}

#linkOpenFoodFacts
{
	font-family: 'Champagne Limousines Bold', sans-serif;
	font-size: 2em;
	color: white;
	transition: all .16s ease-in-out;
}

#linkOpenFoodFacts:hover
{
	color: #f8bbd0;
	transition: all .16s ease-in-out;
}

form > label
{
	font-size: 1.3em;
}

#inputResearch
{
	margin-right: -8px;
	height: 38px;
	border-radius: .25rem;
	padding-bottom: 5px;
	padding-left: 10px;
}

.crossImage
{
	width: 20px;
	height: auto;
}

.crossButton
{
	background: transparent;
	border: 0px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 15;
	cursor: pointer;
}

.filters
{
	height: 75vh;
	overflow:auto;
}

footer
{
	background-color: #e0e0e0;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Champagne Limousines Bold', sans-serif;
	letter-spacing: 7px;
}

footer > div
{
	padding: 20px 0px 20px 0px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -90px; 
}

.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 90px; 
}

div > a
{
	color: #ad1457;
	text-decoration: none !important;
	transition: all .16s ease-in-out;
}

div > a:hover
{
	color: #f48fb1;
	transition: all .16s ease-in-out;
}

.uppercase
{
	text-transform: uppercase;
}

.blockCenter
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.filterLabel
{
	text-align: center;
	display: block;
}

.filterInput
{
	width: 100% !important;
}

.filterDiv
{
	padding: 30px 0px;
}

/* ============== */
/* BACK TO TOP BUTTON */
/* ============== */

a#backToTopButton{
	width:60px;
	height:60px;
	background:#ad1457;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;

	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 25;
	opacity:1;

	transition:all ease-in 0.2s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	text-decoration: none;

	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);

}

.fa-chevron-up
{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

td > a > i
{
	color: #ad1457 !important;
}

a#backToTopButton:hover{
	transition:all ease-in 0.2s;
}
a#backToTopButton.cInvisible{
	bottom:-35px;
	opacity:0;
	transition:all ease-in 0.5s;
}

a#backToTopButton.cVisible{
	bottom:20px;
	opacity:1;
}

/* ============== */
/* VALIDATE BUTTON */
/* ============== */

.validateButton
{
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle;
	z-index: 1;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
}

.btn, .filtersValidateButton, .addProductButton, .validateEditButton
{
	text-decoration: none;
	color: black;
	background-color: #ffc107;
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	display: inline-block;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	font-size: 1rem;
	outline: 0;
}

.filtersValidateButton:hover , .addProductButton:hover, .validateEditButton:hover
{
	background-color: #ffd54f;
	transition: all .16s ease-in-out;
}

.addProductButton, .validateEditButton
{
	width: 300px;
}

.addProductButtonContainer, .validateEditButtonContainer
{
	margin-left: auto !important;
	margin-right: auto !important;
	width: 300px;
	padding-bottom: 50px;
}

.btn
{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn:hover
{
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.filtersValidateButton
{
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn:hover, filtersValidateButton:hover
{
	background-color: #ffd54f;
}

.filtersValidateButtonContainer
{
	width: 100%;
}

/* ============== */
/* ANIMATION */
/* ============== */

#filtersBlock
{
	width: 100%;
	height: 0px;
	background-color: #e0e0e0;
	position: fixed;
	z-index: 9;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);

	overflow:auto;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}

/* ============== */
/* TABLE */
/* ============== */

td, tr, th
{
	border: solid 1px #9e9e9e;
	padding: 10px 0px;
    width: 100px !important;
}

thead
{
	color: #ad1457;
	font-size: 1.2em;
	border-top: 0px !important;
	background-color: #f5f5f5;
}

table
{
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.tableContainer
{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

tr:hover
{
	background-color: #f5f5f5;
}

/* ============== */
/* MODAL */
/* ============== */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80vh;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ============== */
/* CSS OVERRIDE */
/* ============== */

.form-control {
	width: auto;
	display: inline !important;
}

caption {
	text-align: center !important;
	caption-side: top !important;
}
